<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>vNumber Admin</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="css/nectarine.css">
    <link rel="stylesheet" href="css/orange.css">
    <link rel="stylesheet" href="css/slide.css">
</head>

<body ng-app="vNumber">
<div class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <!--back en haut à gauche quand on n'est pas sur la home-->
            <a ng-click="$back()" ng-show="!isHome && isConnected" class="btn btn-default pull-left btn-back"><span
                    class="glyphicon glyphicon-chevron-left"></span></a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu-mobile"
                    ng-show="isConnected">
                <span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--Titre de l'appli-->
            <a class="navbar-brand" href="#">vNumber Administration</a>
        </div>
        <!--Menu pour le PC-->
        <!--<div ng-show="isConnected">-->
        <div class="collapse navbar-collapse pull-right">
            <div class="dropdown navbar-right">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/home">{{'HOME' | translate }}</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/allnumbers">{{'ALLNUMBERS' |
                        translate }}</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/poolnumbers">{{'POOLNUMBERS' |
                        translate
                        }}</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/newuser">{{'NEWUSER' | translate
                        }}</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/raz">{{'RAZ' | translate }}</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/logout">{{'LOGOUT' | translate
                        }}</a>
                    </li>

                </ul>
            </div>
        </div>
        <!--Menu pour le mobile-->
        <div class="collapse navbar-collapse menu-mobile">
            <ul class="nav navbar-nav visible-xs" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#/home">{{ 'HOME' |translate
                    }}</a></li>
                <li role="Erreur"><a role="menuitem" tabindex="-1" href="#/allnumbers" ng-show="isExternal">{{'ALLNUMBERS'
                    |
                    translate }}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#/poolnumbers">{{ 'POOLNUMBERS' |
                    translate }}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#/newuser">{{'NEWUSER' | translate }}</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#/raz">{{'RAZ' | translate }}</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#/logout">{{'LOGOUT' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="error" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'ERROR' | translate }}</h4>
            </div>
            <div class="modal-body">
                {{ 'AN_ERROR_HAS_OCCURRED' | translate }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="error" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'SUCCESS' | translate }}</h4>
            </div>
            <div class="modal-body">
                {{ 'THE_OPERATION_WAS_SUCCESSFUL' | translate }}
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="error.html">
    <h3>{{'ERROR' | translate}}</h3>
</script>


<script type="text/ng-template" id="login.html">

    <div ng-controller="loginCtrl">
        formulaire de login

        <button data-ng-click="login('toto','titi')">test</button>
    </div>
</script>

<script type="text/ng-template" id="home.html">

    <div ng-controller="homeCtrl">
        page d'accueil, permettant de choisir de réserver des plage sde n° ou de faire une association vNumber
        ainsi que suppression ????
    </div>
</script>


<script type="text/ng-template" id="allnumbers.html">

    <div ng-controller="allNumbersCtrl">
        Faire un affichage sous forme de tableau de tous les vNumbers réservés pour cette société
    </div>
</script>

<script type="text/ng-template" id="poolnumbers.html">

    <div ng-controller="poolNumbersCtrl">
        Formulaire pour résever une plage de n° (type/options/....)
    </div>
</script>

<script type="text/ng-template" id="newuser.html">
    <div ng-controller="newUserCtrl">
        Formulaire pour enregistrer un nouvel user et lui attribuer un vnumber
    </div>
</script>

<script type="text/ng-template" id="raz.html">
    <div ng-controller="razCtrl">
        libération de toutes les plages vnumber réservées (remise à zéro)
    </div>
</script>

<script type="text/ng-template" id="logout.html">
    <div ng-controller="logoutCtrl">
        Au revoir !
    </div>
</script>


<div ng-view>
    Loading...
</div>


<!--jquery et bootstrap sont necessaires pour le dropdown menu. et il faut laisser l'import dans ce sens-->
<script src="vendors/jquery-1.11.0.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>


<!--imports locaux du projet-->
<script src="js/app.js"></script>

<!--Pour la présentation des albums en photos-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-touch.min.js"></script>


<!--multilangue, pascalprecht-->
<script src="vendors/angular-translate.min.js"></script>

<!--<script src="js/filters/ExampleFilter.js"></script>
<script src="js/services/sharedProperties.js"></script>-->
<script src="js/services/apiServices.js"></script>
<script src="js/controllers/mainCtrl.js"></script>


</body>
</html>
